<body>
  <div class="wrapper">
    <div class="container mt-4 section-projets">
      <h2>Mes Projets</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let projet of projets">
          <div class="card mb-3 shadow-sm">
            <img [src]="projet.image" class="card-img-top" alt="{{ projet.titre }}">
            <div class="card-body">
              <h5 class="card-title">{{ projet.titre }}</h5>
              <p class="card-text">{{ projet.description }}</p>
              <p><strong>Technologies :</strong> {{ projet.technologies.join(', ') }}</p>
              <a [href]="projet.lien" target="_blank" class="btn btn-primary">Voir sur GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>