<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacob Aiden - Frontend Developer</title>
   
</head>
<body>
    

    <section class="hero">
        <div class="hero-content">
            <h1>Hi, I'm Kawthar Mouslim</h1>
            <h2>Full stack Developer</h2>
            <p>Un développeur fullstack est un expert qui travaille sur le frontend (interface utilisateur) et le backend (serveurs et bases de données) d'une application web, gérant tout le processus de développement..</p>
            <div class="buttons">
                <button class="btn btn-primary">Linkded</button>
                <button class="btn btn-secondary">Git hub</button>
            </div>
        </div>
        <div class="hero-image">
          <img src="assets/img1.jpg">
        </div>
    </section>


</body>
</html>


